<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timer</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://unpkg.com/feather-icons"></script>
    <script type="module" src="/js/app.js"></script>
</head>

<body>
    <nav class="navbar">
        <ul class="navbar__menu">
            <li class="navbar__item">
                <a href="/" class="navbar__link"><i data-feather="clock"></i><span>Pomodoro</span></a>
            </li>
            <li class="navbar__item">
                <a href="/statistics" class="navbar__link"><i data-feather="bar-chart"></i><span>Statistics</span></a>
            </li>
            <li class="navbar__item">
                <a href="#" class="navbar__link"><i data-feather="help-circle"></i><span>Help</span></a>
            </li>
            <li class="navbar__item">
                <a href="#" class="navbar__link"><i data-feather="settings"></i><span>Settings</span></a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="progress-container">
            <svg class="progress-circle" width="400" height="400" viewBox="0 0 400 400">
                <defs>
                    <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
                        <stop offset="0%" stop-color="#AF40FF" />
                        <stop offset="50%" stop-color="#5B42F3" />
                        <stop offset="100%" stop-color="#00DDEB" />
                    </linearGradient>
                </defs>
                <circle class="circle-bg" cx="200" cy="200" r="180" />
                <circle class="circle-progress" id="circle" cx="200" cy="200" r="180" />
            </svg>
            <div class="percentage" id="percent">25:00</div>
            <div class="session" id="session">Focus</div>
        </div>
        <div class="button-container">
            <i data-feather="rotate-ccw" class="button-feather" id="reset"></i>
            <button class="button-64" id="play-button" role="button"><span class="text"><i id="play"
                        data-feather="play"></i></span></button>
            <i data-feather="arrow-right" class="button-feather" id="next"></i>
        </div>
    </div>

    <script src="/js/components/home.js"></script>
</body>

</html>